.App {
  text-align: center;

    justify-content: center;
}



div {
  background-color: #282c34;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



img {
  width: 175px;
  height: 175px;
  filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
  transition: transform .15s;
  border: 10px outset green;
  margin: 20px;
  flex-direction: column;
}
img:hover {
  position: relative;
  transform: scale(2);
  z-index: 1;
  color: teal;
  filter: saturate(120%) contrast(120%) drop-shadow(12px 10px 8px);
}
.colors{
  border: 10px outset green;
}