App {
    text-align: center;
    border: 20px outset #21348a;
    justify-content: center;
  }
h2{
  text-align: center;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,
     0 0 15px #FFF, 0 0 20px blue, 0 0 30px blue, 
     0 0 40px #21348a, 0 0 55px #21348a, 0 0 75px #49ff18;
     background-color: khaki;
  color: black;
  justify-content: center;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    background-color: green;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,
     0 0 15px #FFF, 0 0 20px blue, 0 0 30px blue, 
     0 0 40px #21348a, 0 0 55px #21348a, 0 0 75px #49ff18;
     background-color: khaki;



}

img{
    width: 175px;
    height: 175px;
    filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
    transition: transform .15s;
    border: 10px outset rgb(177, 49, 138);
    margin: 20px;
    flex-direction: column;
    background-color: black;

}
  
  img:hover {
    position: relative;
    transform: scale(2);
    z-index: 1;
    color:  palegreen;
    filter: saturate(120%) contrast(120%) drop-shadow(12px 10px 8px);
  }
.strains{
  text-align: center;
  border: 50px outset greenyellow;
  justify-content: center;
}
.strainLists{
  border: 10px outset greenyellow;
  justify-content: center;
}
.update{
  border: 50px outset greenyellow;
  justify-content: center;

}